.m1 {
  /* position: absolute; */
  width: 84px;
  height: 63px;
  padding-left: 60px;
  padding-bottom: 50px;
  /* top: 350px; */
  padding-top: 10px;
}
.custom-icons-list > .anticon {
  margin-right: 6px;
  width: 84px;
  height: 63px;
  padding-left: 60px;
  padding-bottom: 50px;
  /* top: 350px; */
  padding-top: 10px;
}
.ant-row-rtl .custom-icons-list > .anticon {
  margin-right: 0;
  margin-left: 6px;
}

.logo1{
  text-align: center;
}

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
}

#components-layout-demo-side .logo1 {
  height: 32px;
  margin: 16px;
  margin-bottom: 500px;
  background: rgba(255, 255, 255, 0.3);
}


.site-layout .site-layout-background {
  background: #fff;
}

.l {
  color: white;   
  /* padding-left: 40px; */
  text-align: center;
  /* margin-top: 90px; */
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}