.App {
  text-align: center;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.app-header {
  display: flex;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.panel-edit-background {
  margin: 20px;
  height: 500px;
  background: #fff;
}

.filters {
  display: flex;
  align-items: flex-start;
}

.ant-tabs-nav-wrap {
  padding-left: 10px;
}

